/*************************************************************
	Dashboard layout
*************************************************************/

div.dashboard {
	display: flex;
	flex-direction: column;
	color: white;
	margin-bottom: 0px;
	width: 100%;
	text-shadow: 1px 1px 1px black;
	background-image: url('../images/Red-Carpet-Wallpaper-12.jpg');
	background-position: center center;
	background-size: cover;
}



/*************************************************************
	Layout for each game record
*************************************************************/

div#stats-container {
	max-height: 100vh;
	overflow-y: scroll;
}

div.stats {
	margin: 0px auto 7.5px auto;
	width:81%;
	border: 1.5px solid white;
	border-radius: 10px;
	background-color:rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 10px 6px -6px #444444;
       -moz-box-shadow: 0 10px 6px -6px #444444;
            box-shadow: 0 10px 6px -6px #444444;
    display: flex;
    justify-content: space-around;
    left:6.5px;
    color: #C1BFBF;
}

h2#game-number {
	margin-left: 1%;
}

h2.game-number-stats {
	font-family: 'Merriweather', serif;
	width: 5%;
	margin-left: 1%;
}

h2.game-record-title {
	margin-bottom: 0px;
	color: white;
}

div.link-stats,
div.start-stats,
div.end-stats {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	align-items: flex-start;
	font-family: 'Merriweather', serif;
	padding-left: 5px;
}

div.link-stats {
	align-items: flex-start;
	padding-left: 5px;
}

div.link-stats ul {
	list-style: none;
	padding-left: 0px;
	max-height: 85px;
	min-width: 100%;
	overflow-y: auto;
}

.linkList::before {
	content: "  🔗  ";
	color: #158000;
}

div.link-stats h3 {
	margin-bottom: 0px;
}

div.end-stats {
	border-radius: 0px 10px 10px 0px;
}

div.start-stats,
div.end-stats {
	justify-content: space-between;
}

img.dash-pic {
	border: 1.5px solid white;
	border-radius: 10px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 10px 6px -6px #444444;
	-moz-box-shadow: 0 10px 6px -6px #444444;
	box-shadow: 0 10px 6px -6px #444444;
}



/*************************************************************
	Layout for each game record
*************************************************************/

@media screen and (max-width: 768px) {
	div#stats-header {
		padding: 2px;
		font-size: .5em;
	}

	div.stats {
		font-size: .5em;
		padding: 2px;
	}

	img.dash-pic {
		max-width: 98%;
		align-items: center;
	}
}