div.dashboard {
	display: flex;
	flex-direction: column;
	color: white;
	margin-bottom: 0px;
	width: 100%;
	text-shadow: 1px 1px 1px black;
}

div.stats {
	margin: 0px auto 7.5px auto;
	width:95%;
	border: 1.5px solid white;
	border-radius: 10px;
	background: #56CCF2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 0 10px 6px -6px #444444;
       -moz-box-shadow: 0 10px 6px -6px #444444;
            box-shadow: 0 10px 6px -6px #444444;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

div.start-stats,
div.end-stats,
div.link-stats {
	width: 15%;
}

