* {
	box-sizing: border-box;
}

div.game {
	display: flex;
	flex-direction: column;
}

div.game-row {
	width: 100%;
 	display: flex;
	justify-content: center;
	align-content: space-around;
}

div.gameInfo {
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	justify-content: flex-end;
}

div.linkChain {
	width: 96%;
	display: block;
	height: auto;
	margin-bottom: 10px;
	border-radius: 5px;
}

ul#selectedLinks {
	margin-left: auto;
	margin-right: auto;
	color: white;
	list-style-type: none;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	float: left;
	width: 100%;
	padding: 0 40px;
}

div.guesslist {
	width: 96%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	padding: 5px;
}

div.guess {
	background: #FFDF38;
	background-image: -webkit-linear-gradient(top, #F7D933, #FC6F1A);
    background-image: -moz-linear-gradient(top, #F7D933, #FC6F1A);
	background-image: -ms-linear-gradient(top, #F7D933, #FC6F1A);
	background-image: -o-linear-gradient(top, #F7D933, #FC6F1A);
	background-image: linear-gradient(to bottom, #F7D933, #FC6F1A);
	margin-bottom: 10px;
}

div.actor {
	background-color: #DCDADA;
	color: #717171;
}

div.guess div.input-group {
	display: flex;
	justify-content: center;
}

h1.gameInfo-text {
	margin-bottom: 0;
}

ul#gameInfoText {
	display: flex;
	justify-content: flex-end;
	align-content: flex-end;
	align-self: flex-end;
	align-items: flex-end;
	list-style: none;
	color: white;
	text-shadow: 2px 2px 3px black;
	margin-right: 10px;
	margin-bottom: 0px;
}

ul#gameInfoText li {
	margin-right: 20px
}

div.game-page-btn {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

div.game-page-btn a {
	margin: 10px auto;
   -webkit-box-shadow: 0 10px 6px -6px #444444;
   -moz-box-shadow: 0 10px 6px -6px #444444;
        box-shadow: 0 10px 6px -6px #444444;
}

.btn:hover {
  background: #ff0000;
  text-decoration: none;
}

h1#startId,
h1#linkChainHeader {
	width: 100%;
	padding-top: 5px;
	text-align: center;
	margin-bottom: 0px;
	color: white;
	text-shadow: 2px 2px 3px black;
}

ul#castList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	text-align: center;
	padding-left: 5px;
}

ul#castList li {
	margin-bottom: 10px;
	width: 150px;
	background: #000046;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 2px;
    -webkit-box-shadow: 0 10px 6px -6px #444444;
   -moz-box-shadow: 0 10px 6px -6px #444444;
    box-shadow: 0 10px 6px -6px #444444;
    display: flex;
    flex-direction: column-reverse;
	align-content: flex-end;
	align-items: space-between;
}

ul#castList button li img {
	display: block;
	margin: 5px auto 2px auto;
	position: relative;
	bottom: 0px;
}

ul#castList button {
	background: none;
	border: none;
	color: white;
}
