div.gameInfo {
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	justify-content: flex-end;
	border-radius: 0px 0px 10px 10px;
}

h1.gameInfo-text {
	margin-bottom: 0;
}

ul#gameInfoText {
	display: flex;
	justify-content: flex-end;
	align-content: flex-end;
	align-self: flex-end;
	align-items: flex-end;
	list-style: none;
	color: white;
	text-shadow: 2px 2px 3px black;
	margin-right: 10px;
	margin-bottom: 0px;
}

ul#gameInfoText li {
	margin-right: 20px
}

Link {
	z-index: 10;
}