* {
	box-sizing: border-box;
}

div.game {
	display: flex;
	flex-direction: column;
	background-image: url('../images/Red-Carpet-Wallpaper-12.jpg');
	background-size: cover;
	background-position: center, center;
	padding-bottom: 15px;
}

div.game-row {
	width: 100%;
 	display: flex;
	justify-content: center;
	align-content: space-around;
}

