/*************************************************************
	Guesslist main
*************************************************************/

div.guesslist {
	width: 96%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	padding: 5px;
    font-family: 'Merriweather', serif;
    -webkit-box-shadow: 0 10px 6px -6px #444444;
       -moz-box-shadow: 0 10px 6px -6px #444444;
            box-shadow: 0 10px 6px -6px #444444;
	background-color:rgba(0, 0, 0, 0.75);
    border: 1.5px solid white;
}

/* header in game */
.guesslist h1 {
	font-size: 2em;
	text-align: center;
	margin: 5px;
}

/* list of actor or movie images */
ul#castList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	text-align: center;
	max-height: 450px;
	overflow-y: auto;
	margin-top: 0px;
	padding: 0px;
	justify-content: center;
}

/* each clickable actor or movie */
ul#castList li {
	margin-bottom: 10px;
	width: 150px;
	background-color:rgba(0, 0, 0, 0.75);
    border: 1.5px solid white;
	color: white;
	padding: 2px;
    -webkit-box-shadow: 0 10px 6px -6px #444444;
   -moz-box-shadow: 0 10px 6px -6px #444444;
    box-shadow: 0 10px 6px -6px #444444;
    display: flex;
    flex-direction: column-reverse;
	align-content: flex-end;
	align-items: center;
	-moz-transition: all .4s;
    -o-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s;
}

ul#castList li:hover {
	border-radius: 10px;
	border-color: #27E302;
}

/* removes button look for eac item */
ul#castList button {
	background: none;
	border: none;
	color: white;
}

ul#castList button li img {
	display: block;
	margin: 5px auto 2px auto;
	position: relative;
	bottom: 0px;
}



/*************************************************************
	Win screen
*************************************************************/

/* header for win game */
h1, div#gameWinInfo h2 {
	color: white;
	text-shadow: 2px 2px 3px black;
	margin-top: 0px;
	margin-bottom: 10px;
}

div#gameWinInfo {
	margin: 20px;
	display: flex;
	justify-content: space-between;
}

div#gameWinCast,
div#gameWinMovie {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 485px;
	width: 45%;
	-webkit-box-shadow: 0 10px 6px -6px #444444;
	-moz-box-shadow: 0 10px 6px -6px #444444;
	box-shadow: 0 10px 6px -6px #444444;
	background-color:rgba(0, 0, 0, 0.75);
    border: 1.5px solid white;
    -webkit-box-shadow: 0 10px 6px -6px #444444;
       -moz-box-shadow: 0 10px 6px -6px #444444;
            box-shadow: 0 10px 6px -6px #444444;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    height: auto;
}

div#gameWinInfo h3 {
	margin-top: 0px;
}

div#gameWinCast p,
div#description {
	color: white;
	background-color:rgba(0, 0, 0, 0.75);
    border: 1.5px solid white;
	-webkit-box-shadow: 0 10px 6px -6px #444444;
       -moz-box-shadow: 0 10px 6px -6px #444444;
            box-shadow: 0 10px 6px -6px #444444;
    padding: 10px;
    border-radius: 5px;
    max-height: 160px;
    overflow-y: scroll;
}

div#description {
	margin-top: 15px;
}

img#finalCastPic,
img#finalMoviePic {
	width: 200px;
	height: 250px;
    -webkit-box-shadow: 0 10px 6px -6px #444444;
    -moz-box-shadow: 0 10px 6px -6px #444444;
    box-shadow: 0 10px 6px -6px #444444;
    border: 5px solid #FFFFFF;
    border-radius: 5%;
}

div.restart-game-btn-div #restart-game-btn {
	display: flex;
	align-content: center;
	justify-content: center;
	background-color:rgba(0, 0, 0, 0.6);
	color: white;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	font-family: 'Merriweather', serif;
	border: 1.5px solid white;
	-moz-transition: all .4s;
    -o-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s;
	border-radius: 10px;
	width: 170px;
	margin-top: 0px;
}

div.restart-game-btn-div #restart-game-btn:hover {
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
}



/*************************************************************
	Responsive
*************************************************************/

@media screen and (max-width: 768px) {

	.guesslist h1 {
		font-size: 2em;
	}

	div#gameHeaders {
		margin-bottom: 15px;
		font-size: .5em;
	}

	div#gameWinInfo {
		flex-direction: row;
		align-items: center;
		align-content: space-between;
	}
	
	div#gameWinCast {
		margin-right: 5px;
	}

	div#gameWinCast,
	div#gameWinMovie {
		width: 90%;s
		margin-bottom: 20px;
		display: flex;
		height: 300px;
		justify-content: space-between;
	}

	div#gameWinCast h2,
	div#gameWinMovie h2 {
		font-size: .8em;
	}

	img#finalCastPic,
	img#finalMoviePic {
		width: 100px;
		height: 120px;
	}

	ul#castList {
		max-width: 99%;
	}

	ul#castList li {
		margin-right: 5px;
		flex-direction: column;
		max-height: 220px;
		width: 90px;
	}

	ul#castList li button img {
		width: 80px;
		height: 100px;
	}

	ul#castList li button {
		display: flex;
		flex-direction: column;
		width: 80px;
		align-items: center;
	}

	div#gameWinCast p,
	div#description {
		font-size: .5em;
		max-height: 100px;
		margin-bottom: 2px;
	}

	div.restart-game-btn-div #restart-game-btn {
		font-size: .8em;
		width: 120px;
		margin-bottom: 5px;
	}

}

