div.header {
	display: flex;
	position: fixed;
	top: 0px;
	width:100%;
	height: 75px;
	border-radius: 0px 0px 10px 10px;
	background: #f7b733;
	background-image: -webkit-linear-gradient(top, #f7b733, #fc4a1a);
	background-image: -moz-linear-gradient(top, #f7b733, #fc4a1a);
	background-image: -ms-linear-gradient(top, #f7b733, #fc4a1a);
	background-image: -o-linear-gradient(top, #f7b733, #fc4a1a);
	background-image: linear-gradient(to bottom, #f7b733, #fc4a1a);
    -webkit-box-shadow: 0 10px 6px -6px #444444;
       -moz-box-shadow: 0 10px 6px -6px #444444;
            box-shadow: 0 10px 6px -6px #444444;
    font-family: 'Merriweather', serif;
}

div#top-space-fix {
	margin-top: 80px;
	display: block;
	width:100%;
	height: 5px;
}

div#dash-header-fix {
	display: block;
	width: 100%;
	height: 5px;
	margin-top: 20px;
}

h1#logo {
	font-family: 'Monoton', cursive;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 4em;
    font-weight: lighter;
}

div#player-info {
	position: absolute;
	left: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div#player-info h2,
div#player-info h4 {
	margin: 5px;
	text-shadow: 2px 2px 3px black;
	color: white;
}

div#player-info h2.setup-header,
div#player-info h2.dash-header {
	margin-top: 5px
}

ul#gameInfoText {
	text-shadow: 2px 2px 3px black;
	color: white;
	font-family: 'Merriweather', serif;
	list-style: none;
	display: flex;
	margin: 0;
	padding-left: 0px;
}

h3.gameInfo-text {
	margin-top: 0px;
}

#new-game-btn,
#logout,
#to-dash-btn,
div.restart-game-btn-div #restart-game-btn {
	background: #FFDF38;
	background-image: -webkit-linear-gradient(top, #F7D933, #FC6F1A);
	background-image: -moz-linear-gradient(top, #F7D933, #FC6F1A);
	background-image: -ms-linear-gradient(top, #F7D933, #FC6F1A);
	background-image: -o-linear-gradient(top, #F7D933, #FC6F1A);
	background-image: linear-gradient(to bottom, #F7D933, #FC6F1A);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	-webkit-box-shadow: 0 10px 6px -6px #444444;
	-moz-box-shadow: 0 10px 6px -6px #444444;
	box-shadow: 0 10px 6px -6px #444444;
	text-shadow: 1px 1px 3px #000000;
	color: white;
	font-size: 15px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	font-family: 'Merriweather', serif;
	border: 1.5px solid white;
	position: absolute;
	top: 15px;
}

#new-game-btn:hover,
#logout:hover,
#to-dash-btn:hover,
div.restart-game-btn-div #restart-game-btn:hover {
  background: #f7b733;
  background-image: -webkit-linear-gradient(top, #f7b733, #fc4a1a);
  background-image: -moz-linear-gradient(top, #f7b733, #fc4a1a);
  background-image: -ms-linear-gradient(top, #f7b733, #fc4a1a);
  background-image: -o-linear-gradient(top, #f7b733, #fc4a1a);
  background-image: linear-gradient(to bottom, #f7b733, #fc4a1a);
  text-decoration: none;
}

#new-game-btn {
	right: 126px;
}

#logout {
	right: 10px;
}

#to-dash-btn {
	z-index: 10;
	right: 126px;
}

div.restart-game-btn-div #restart-game-btn {
	right: 290px;
}