/*************************************************************
	Header main
*************************************************************/

div.header {
	display: flex;
	position: fixed;
	top: 0px;
	width:100%;
	min-width: 310px;
	height: 75px;
	border-radius: 0px 0px 10px 10px;
	border-bottom: 1.5px solid white;
	background: #f7b733;
	background-image: -webkit-linear-gradient(top, #f7b733, #fc4a1a);
	background-image: -moz-linear-gradient(top, #f7b733, #fc4a1a);
	background-image: -ms-linear-gradient(top, #f7b733, #fc4a1a);
	background-image: -o-linear-gradient(top, #f7b733, #fc4a1a);
	background-image: linear-gradient(to bottom, #f7b733, #fc4a1a);
    -webkit-box-shadow: 0 10px 6px -6px #444444;
       -moz-box-shadow: 0 10px 6px -6px #444444;
            box-shadow: 0 10px 6px -6px #444444;
    font-family: 'Merriweather', serif;
}

div#top-space-fix {
	margin-top: 80px;
	display: block;
	width:100%;
	height: 5px;
}

/* adjusts top space fix for dashboard header */
div#dash-header-fix {
	display: block;
	width: 100%;
	height: 5px;
	margin-top: 20px;
}

h1#logo {
	font-family: 'Monoton', cursive;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 4em;
    font-weight: lighter;
}



/*************************************************************
	Left side player info
*************************************************************/

div#player-info {
	position: absolute;
	left: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* style for left side player text */
div#player-info h2,
div#player-info h4 {
	margin: 5px;
	text-shadow: 2px 2px 3px black;
	color: white;
}

div#player-info h2.setup-header,
div#player-info h2.dash-header {
	margin-top: 5px
}

ul#gameInfoText {
	text-shadow: 2px 2px 3px black;
	color: white;
	font-family: 'Merriweather', serif;
	list-style: none;
	display: flex;
	margin: 0;
	padding-left: 0px;
}

h3.gameInfo-text {
	margin-top: 0px;
	margin-left: 5px;
}



/*************************************************************
	Right side buttons
*************************************************************/

#new-game-btn,
#logout,
#to-dash-btn {
	background: #FFDF38;
	background-image: -webkit-linear-gradient(top, #F7D933, #FC6F1A);
	background-image: -moz-linear-gradient(top, #F7D933, #FC6F1A);
	background-image: -ms-linear-gradient(top, #F7D933, #FC6F1A);
	background-image: -o-linear-gradient(top, #F7D933, #FC6F1A);
	background-image: linear-gradient(to bottom, #F7D933, #FC6F1A);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	-webkit-box-shadow: 0 10px 6px -6px #444444;
	-moz-box-shadow: 0 10px 6px -6px #444444;
	box-shadow: 0 10px 6px -6px #444444;
	text-shadow: 1px 1px 3px #000000;
	color: white;
	font-size: 15px;
	padding: 10px 7px;
	text-decoration: none;
	font-family: 'Merriweather', serif;
	border: 1.5px solid white;
	position: absolute;
	top: 15px;
}

#new-game-btn:hover,
#logout:hover,
#to-dash-btn:hover {
  background: #f7b733;
  background-image: -webkit-linear-gradient(top, #f7b733, #fc4a1a);
  background-image: -moz-linear-gradient(top, #f7b733, #fc4a1a);
  background-image: -ms-linear-gradient(top, #f7b733, #fc4a1a);
  background-image: -o-linear-gradient(top, #f7b733, #fc4a1a);
  background-image: linear-gradient(to bottom, #f7b733, #fc4a1a);
  text-decoration: none;
}

#new-game-btn {
	right: 100px;
}

#logout {
	right: 5px;
}

#to-dash-btn {
	z-index: 10;
	right: 100px;
}


/*************************************************************
	Responsive
*************************************************************/

@media screen and (max-width: 1180px) {
	#to-dash-btn {
		right: 90px;
		padding-right: 7px;
		padding-left: 7px;	
	}
}

@media screen and (max-width: 1120px) {

	h1#logo {
		font-size: 3.5em;
	}
}

@media screen and (max-width: 1060px) {
	
	h1#logo {
		font-size: 3em;
	}

	div#player-info {
		font-size: .8em;
	}

	#new-game-btn,
	#logout,
	#to-dash-btn {
		font-size: 12px;
		padding: 5px 10px;
		margin-top: 7.5px;

	}

	#new-game-btn,
	#to-dash-btn {
		right: 90px;
	}
}


@media screen and (max-width: 875px) {
	h1#logo {
		font-size: 2.5em;
	}

	#new-game-btn {
		right: 85px;
	}

	#to-dash-btn {
		right: 80px;
	}
}

@media screen and (max-width: 768px) {
	#to-dash-btn {
		font-size: 10px;
	}

	div#top-space-fix {
		margin: 36px;
	}

}

@media screen and (max-width: 750px) {

	h1#logo {
		margin-bottom: 0px;
		padding: 0px .5px 0px .5px;
		align-items: flex-start;
	}

	div.header {
		flex-direction: column;

	}

	div#player-info {
		align-self: flex-start;
		font-size: .7em;
		margin-top: 25px;
		margin-left: 5px;
	}

	div#player-info h2,
	div#player-info h4 {
		margin: 0px;
	}

	div#player-info h2.setup-header,
	div#player-info h2.dash-header {
		margin-top: 5px
	}
	
	#new-game-btn,
	#to-dash-btn {
		right: 60px;
	}	

	#new-game-btn,
	#logout,
	#to-dash-btn {
		margin-top: 32px;
		font-size: 10px;
		padding: 2.5px 5px;
		-webkit-box-shadow: 0 5px 3px -3px #444444;
		-moz-box-shadow: 0 5px 3px -3px #444444;
		box-shadow: 0 5px 3px -3px #444444;
	}
}

@media screen and (max-width: 700px) {

	h1#logo {
		font-size: 2em;
	}

	div#player-info {
		font-size: .55em;
		margin-top: 40px;
	}
}