#login-form {
	background-color:rgba(0, 0, 0, 0.75);
	margin-bottom: 10px;
    -webkit-box-shadow: 0 10px 6px -6px #444444;
    -moz-box-shadow: 0 10px 6px -6px #444444;
    box-shadow: 0 10px 6px -6px #444444;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    padding: 10px;
    border: 1.5px solid white;
}

h1.form-title {
	font-weight: lighter;
}

label.login-form-label {
	font-family: 'Merriweather', serif;
	color: white;
	text-shadow: 2px 2px 3px #000000;
}

#login-form div.form-input {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: 2px auto 5px auto;
	width: 100%;
	flex-direction: column;
	padding: 0 10px;
}

#login-form div.form-input input {
	position: relative;
	background-color:rgba(0, 0, 0, 0.0);
	border: none;
	border-bottom: 1.5px solid white;
	width: 100%;
	padding: 5px;
	font-family: 'Merriweather', serif;
	font-size: 1.15em;
	clear: right;
	margin-bottom: 10px;
	color: white;
}

/* change placeholder color */
#login-form div.form-input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #D5D8D9;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #D5D8D9;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #D5D8D9;
}
:-moz-placeholder { /* Firefox 18- */
	color: #D5D8D9;
}

div.form-error,
div.form-warning {
	font-family: 'Merriweather', serif;
	color: white;
	font-size: .75em;
}

#login-form-btn {
	background-color:rgba(0, 0, 0, 0.6);
	color: white;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	font-family: 'Merriweather', serif;
	border: 1.5px solid white;
	margin: 10px auto;
	-moz-transition: all .4s;
    -o-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s;
}

#login-form-btn:hover {
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
}



