form.register-form {
	background: #f7b733;
	background-image: -webkit-linear-gradient(top, #f7b733, #fc4a1a);
	background-image: -moz-linear-gradient(top, #f7b733, #fc4a1a);
	background-image: -ms-linear-gradient(top, #f7b733, #fc4a1a);
	background-image: -o-linear-gradient(top, #f7b733, #fc4a1a);
	background-image: linear-gradient(to bottom, #f7b733, #fc4a1a);
	margin-bottom: 10px;
    -webkit-box-shadow: 0 10px 6px -6px #444444;
    -moz-box-shadow: 0 10px 6px -6px #444444;
    box-shadow: 0 10px 6px -6px #444444;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.register-form div {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

form.register-form label {
	font-family: 'Merriweather', serif;
	color: white;
	text-shadow: 2px 2px 3px #000000;
}

form.register-form div input {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: 2px auto 5px auto;
	width: 100%;
	flex-direction: column;
	position: relative;
	background-color: #F8E164;
	border-radius: 5px;
	width: 50%;
	color: #000E7B;
	padding: 5px;
	font-family: 'Merriweather', serif;
	clear: right;
	margin: 2px auto 5px auto;
}

form.register-form span {
	font-family: 'Merriweather', serif;
	color: #C40000;
	font-size: .5em;
	text-shadow: 1px 1px 2px #716F6F;
}

#register-btn-container {
	flex-direction: row;
	align-items: center;
	width: 50%;
}

#register-form-submit-btn,
#register-form-clear-btn {
	background: #FFDF38;
	background-image: -webkit-linear-gradient(top, #F7D933, #FC6F1A);
	background-image: -moz-linear-gradient(top, #F7D933, #FC6F1A);
	background-image: -ms-linear-gradient(top, #F7D933, #FC6F1A);
	background-image: -o-linear-gradient(top, #F7D933, #FC6F1A);
	background-image: linear-gradient(to bottom, #F7D933, #FC6F1A);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	-webkit-box-shadow: 0 10px 6px -6px #444444;
	-moz-box-shadow: 0 10px 6px -6px #444444;
	box-shadow: 0 10px 6px -6px #444444;
	text-shadow: 1px 1px 2px #000000;
	color: white;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	font-family: 'Merriweather', serif;
	border: 1.5px solid white;
	margin: 10px auto;
}

#register-form-submit-btn:hover,
#register-form-clear-btn:hover {
  background: #f7b733;
  background-image: -webkit-linear-gradient(top, #f7b733, #fc4a1a);
  background-image: -moz-linear-gradient(top, #f7b733, #fc4a1a);
  background-image: -ms-linear-gradient(top, #f7b733, #fc4a1a);
  background-image: -o-linear-gradient(top, #f7b733, #fc4a1a);
  background-image: linear-gradient(to bottom, #f7b733, #fc4a1a);
  text-decoration: none;
}

