/*************************************************************
	Setup main
*************************************************************/

div.setup {
	font-family: 'Merriweather', serif;
}

div.page-header {
	text-align: center;
	padding: 1.5%;
	color: white;
}

h2.game-setup-page-title {
	text-align: center;
	font-family: 'Monoton', cursive;
	font-size: 3em;
	color: #F7D933;
	margin-top: 0px;
	margin-bottom: 0px;
}

ul.instructions {
	text-align: center;
	padding-left: 0;
	color: white;
	list-style: none;
	font-size: .75em;
	line-height: 2em;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
}



/*************************************************************
	Game Set-up div
*************************************************************/

div.game-setup-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	width:60%;
	min-width: 335px;
	padding: 1%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	background: #f7b733;
	background-image: -webkit-linear-gradient(top, #f7b733, #fc4a1a);
	background-image: -moz-linear-gradient(top, #f7b733, #fc4a1a);
	background-image: -ms-linear-gradient(top, #f7b733, #fc4a1a);
	background-image: -o-linear-gradient(top, #f7b733, #fc4a1a);
	background-image: linear-gradient(to bottom, #f7b733, #fc4a1a);
    -webkit-box-shadow: 0 10px 6px -6px #444444;
       -moz-box-shadow: 0 10px 6px -6px #444444;
            box-shadow: 0 10px 6px -6px #444444;
}

h2.game-setup-page-title2 {
	text-align: center;
	font-family: 'Monoton', cursive;
	font-size: 3em;
	color: white;
	text-shadow: 2px 2px 3px black;
	font-weight: lighter;
	margin: 5px auto 15px auto;
    width: 75%;
}

/* positioning for movie inputs */
div.row {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

/* positioning for movie inputs */
div.col-lg-6 {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}



/*************************************************************
	Select movie forms and buttons
*************************************************************/

form#formStart,
form#formEnd {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	width: 450px;
	border: 1.5px solid white;
	border-radius: 5px;
	margin: auto;
	padding-left: 15px;
	background: #56CCF2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 0 10px 6px -6px #444444;
       -moz-box-shadow: 0 10px 6px -6px #444444;
            box-shadow: 0 10px 6px -6px #444444;
}

/* style for form inputs */
input.rbt-input-main {
	justify-content: flex-start;
	color: white;
	background-color: white;
	min-width: 280px;
	max-width: 280px;
	font-family: 'Merriweather', serif;
	overflow: hidden;
}

/* hide suggested word hint */
input.rbt-input-hint {
	display: none;
}

/* change placeholder color */
input.rbt-input-main::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #224F5D;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #224F5D;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #224F5D;
}
:-moz-placeholder { /* Firefox 18- */
	color: #224F5D;
}

.start-movie-btn,
.end-movie-btn {
	background: none;
	border: none;
	border-left: 1.5px solid white;
	color: white;
	width: 150px;
	height: 45px;
	font-family: 'Merriweather', serif;
	overflow-wrap: shrink
}

/* change form color when ready */
form#formStart.ready,
form#formEnd.ready {
	background: #006CA4;
}

/* begin game button */
div.game-setup-page-begin-btn .begin-game-btn {
	display: flex;
	align-content: center;
	justify-content: center;
	margin: 20px auto 0px auto;
	background: #FFDF38;
	background-image: -webkit-linear-gradient(top, #F7D933, #FC6F1A);
	background-image: -moz-linear-gradient(top, #F7D933, #FC6F1A);
	background-image: -ms-linear-gradient(top, #F7D933, #FC6F1A);
	background-image: -o-linear-gradient(top, #F7D933, #FC6F1A);
	background-image: linear-gradient(to bottom, #F7D933, #FC6F1A);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	-webkit-box-shadow: 0 10px 6px -6px #444444;
	-moz-box-shadow: 0 10px 6px -6px #444444;
	box-shadow: 0 10px 6px -6px #444444;
	text-shadow: 1px 1px 3px #000000;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	font-family: 'Merriweather', serif;
	width: 200px;
	border: 1.5px solid white;
}

/* begin game button */
div.game-setup-page-begin-btn .begin-game-btn:hover {
  background: #f7b733;
  background-image: -webkit-linear-gradient(top, #f7b733, #fc4a1a);
  background-image: -moz-linear-gradient(top, #f7b733, #fc4a1a);
  background-image: -ms-linear-gradient(top, #f7b733, #fc4a1a);
  background-image: -o-linear-gradient(top, #f7b733, #fc4a1a);
  background-image: linear-gradient(to bottom, #f7b733, #fc4a1a);
  text-decoration: none;
}



/*************************************************************
	Movie options dropdown
*************************************************************/

ul.dropdown-menu {
	position: absolute;
	left: 0px;
	width: 372px;
	background: #4CB0D0;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #276CC9, #4CB0D0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #276CC9, #4CB0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	list-style: none;
	z-index: 10;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px white solid;
	border-top: none;
}

ul.movieOption li {
	text-align: left;
}

ul.dropdown-menu a.dropdown-item {
	color: white;
	text-decoration: none;
	text-align: left;
}

div.options {
	display: flex;
	align-items: center;
	border-bottom: 1px solid white;
	margin-top: 5px;
}

ul.dropdown-menu a.dropdown-item img {
	margin-bottom: 5px;
	width: 50px;
	font-size: .5em;
	color: grey;
	background-color: #347C93;
	text-align: center;
    -webkit-box-shadow: 0 10px 6px -6px #444444;
       -moz-box-shadow: 0 10px 6px -6px #444444;
            box-shadow: 0 10px 6px -6px #444444;
}

ul.dropdown-menu span.optionDetails {
	display: flex;
	flex-direction: column;
}

ul.dropdown-menu span.year {
	font-size: .6em;
	color: #EAEAEA;
}


/*************************************************************
	Responsive
*************************************************************/

@media screen and (max-width: 768px) {

	ul#instructions {
		text-align: center;
		padding-left: -30px;
		color: white;
		list-style: none;
		font-size: .75em;
		line-height: 2em;
		padding-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}

	form#formStart,
	form#formEnd {
		display: flex;
		flex-direction: column;
		background-color: #A30000;
		height: 75px;
		width: 275px;
		border-radius: 5px;
		margin: auto;
		padding-left: 10px;
		padding-left: 0px;
	}

	input.rbt-input-main {
		color: white;
		background-color: white;
		min-width: 250px;
		max-width: 250px;
		padding-left: 10px;
		text-align: left;
		display: block;
		margin-top: 10px;
	}

	ul.dropdown-menu a.dropdown-item img {
		width: 30px;
	}

	ul.dropdown-menu {
		position: absolute;
		left: 0px;
		width: 245px;
		background-color: #A03434;
		list-style: none;
		z-index: 10;
		padding-left: 10px;
	}

	.start-movie-btn,
	.end-movie-btn {
		display: block;
		width: 240px;
		font-family: 'Merriweather', serif;
		justify-content: center;
		border-left: none;
		border-top: 1px solid #224F5D;
		height: 35px;
	}
}

